/* .news_conteiner{
    height: 5000px;
} */
.newszag{
    color: #78231d;
    text-align: center;
    margin-top: 50px;
}

.news_block{
    margin-top: 50px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.name_news{
    color: black;

}

.opisanie_news{

   color: black;
   width: 300px;
}

.podrobnee{
   font-size: 14px;
   color: black;
}
@media(max-width: 767px){
    .newszag{
        font-size: 40px;
    }
    .news_block{
        flex-direction: column;
        align-items: center;
        padding-left: 15%;

    }
}